# Node & dependency folders
node_modules/
dist/
.cache/
.vite/
.next/

# IDE/editor configs
.idea/
*.log

# Env files
.env
.env.*.local

# Output from testing
coverage/

# Mac/Linux system files
.DS_Store

# Prettier files
.prettiercache

# TypeScript build info
tsconfig.tsbuildinfo

# Optional: lockfiles
package-lock.json
# yarn.lock
# pnpm-lock.yaml

# keep husky hooks in repo
!.husky/